<div class="row row-sm">
    <div class="col-sm-3">
        <div class="panel panel-card">
            <div class="r-t pos-rlt" md-ink-ripple
                 style="background:url(images/a0.jpg) center center; background-size:cover">
                <div class="p-lg bg-white-overlay text-center r-t">
                    <a href class="w-xs inline">
                        <img src="images/a0.jpg" class="img-circle img-responsive">
                    </a>
                    <div class="m-b m-t-sm h2">
                        <span class="">Sumit Singh <small>(Sumi)</small></span>
                    </div>
                </div>
            </div>
            <div ng-cloak>
                <md-content>
                    <md-tabs md-dynamic-height md-border-bottom md-stretch-tabs="always">
                        <md-tab label="Intro">
                            <md-content class="md-padding">
                                <md-list flex>
                                    <md-subheader class="md-no-sticky">Personal Information</md-subheader>
                                    <md-list-item class="md-2-line">
                                        <md-icon class="mdi-social-person i-24"></md-icon>
                                        <div class="md-list-item-text" ng-class="{'md-offset': phone.options.offset }">
                                            <h3>Sumit Singh</h3>
                                            <p>Full Name</p>
                                        </div>
                                    </md-list-item>
                                    <md-list-item class="md-2-line">
                                        <md-icon class="mdi-social-cake i-24"></md-icon>
                                        <div class="md-list-item-text">
                                            <h3>25th-May-1991</h3>
                                            <p>Birthday</p>
                                        </div>
                                    </md-list-item>
                                    <md-divider></md-divider>
                                    <md-subheader class="md-no-sticky">Address</md-subheader>
                                    <md-list-item class="md-2-line">
                                        <md-icon class="mdi-maps-place i-24"></md-icon>
                                        <div class="md-list-item-text" ng-class="{'md-offset': phone.options.offset }">
                                            <h3>Nishi-Ikebukuro, 3-12-11 <br> Beverly Homes, 301 <br> Toshima-ku, Tokyo
                                                <br> Japan<br> (171-0021)</h3>
                                            <p> Home </p>
                                        </div>
                                    </md-list-item>
                                    <md-list-item class="md-2-line">
                                        <div class="md-list-item-text" ng-class="{'md-offset': true }">
                                            <h3>Nishi-Ikebukuro, 3-12-11 <br> Beverly Homes, 301 <br> Toshima-ku, Tokyo
                                                <br> Japan<br> (171-0021)</h3>
                                            <p> Office </p>
                                        </div>
                                    </md-list-item>
                                </md-list>
                            </md-content>
                        </md-tab>
                        <md-tab label="Contacts">
                            <md-content class="md-padding">
                                <md-list flex>
                                    <md-subheader class="md-no-sticky">Contact Numbers</md-subheader>
                                    <md-list-item class="md-2-line">
                                        <md-icon class="mdi-maps-local-phone i-24"></md-icon>
                                        <div class="md-list-item-text" ng-class="{'md-offset': phone.options.offset }">
                                            <h3> (555) 251-1234 </h3>
                                            <p> Home </p>
                                        </div>
                                        <md-button class="md-secondary md-icon-button"
                                                   ng-click="doSecondaryAction($event)" ng-if="phone.options.actionIcon"
                                                   aria-label="call">
                                            <md-icon class="mdi-maps-local-phone i-20"></md-icon>
                                        </md-button>
                                    </md-list-item>
                                    <md-list-item class="md-2-line">
                                        <div class="md-list-item-text" ng-class="{'md-offset': true }">
                                            <h3> (555) 251-1234 </h3>
                                            <p> Mobile </p>
                                        </div>
                                        <md-button class="md-secondary md-icon-button"
                                                   ng-click="doSecondaryAction($event)" ng-if="phone.options.actionIcon"
                                                   aria-label="call">
                                            <md-icon class="mdi-maps-local-phone i-20"></md-icon>
                                        </md-button>
                                    </md-list-item>
                                    <md-list-item class="md-2-line">
                                        <md-icon class="mdi-hardware-phone-iphone i-24"></md-icon>
                                        <div class="md-list-item-text" ng-class="{'md-offset': phone.options.offset }">
                                            <h3> (555) 251-1234 </h3>
                                            <p> office </p>
                                        </div>
                                        <md-button class="md-secondary md-icon-button"
                                                   ng-click="doSecondaryAction($event)" ng-if="phone.options.actionIcon"
                                                   aria-label="call">
                                            <md-icon class="mdi-maps-local-phone i-20"></md-icon>
                                        </md-button>
                                    </md-list-item>
                                </md-list>
                                <md-divider></md-divider>
                                <md-subheader class="md-no-sticky">Email Addresses</md-subheader>
                                <md-list flex>
                                    <md-list-item class="md-2-line">
                                        <md-icon class="mdi-communication-email i-24"></md-icon>
                                        <div class="md-list-item-text" ng-class="{'md-offset': phone.options.offset }">
                                            <h3> summmmit44@gmail.com </h3>
                                            <p> Home </p>
                                        </div>
                                        <md-button class="md-secondary md-icon-button"
                                                   ng-click="doSecondaryAction($event)" ng-if="phone.options.actionIcon"
                                                   aria-label="call">
                                            <md-icon class="mdi-maps-local-phone i-20"></md-icon>
                                        </md-button>
                                    </md-list-item>
                                    <md-list-item class="md-2-line">
                                        <div class="md-list-item-text" ng-class="{'md-offset': true }">
                                            <h3> shiivisingh@gmail.com </h3>
                                            <p>Office</p>
                                        </div>
                                        <md-button class="md-secondary md-icon-button"
                                                   ng-click="doSecondaryAction($event)" ng-if="phone.options.actionIcon"
                                                   aria-label="call">
                                            <md-icon class="mdi-maps-local-phone i-20"></md-icon>
                                        </md-button>
                                    </md-list-item>
                                </md-list>
                            </md-content>
                        </md-tab>
                    </md-tabs>
                </md-content>
            </div>
        </div>
    </div>
    <div class="col-sm-9">
        <div class="card">
            <div class="card-heading">
                <h2>You activities</h2>
                <small>Activities performed by you</small>
            </div>
            <div class="card-body" ng-controller="ProfileController">
                <div class="streamline b-l b-accent m-b m-l">
                    <div class="sl-item sl-item-md b-default" ng-repeat="(index, activity) in activities">
                        <div class="sl-icon">
                            <i class="{{ activity.icon }} text-info"></i>
                        </div>
                        <div class="sl-content">
                            <div class="text-muted-dk">{{ activity.activity_time | date:'mediumDate' }}</div>
                            <p>{{ activity.activity_text }} <a href class="text-info">{{ activity.activity_item }} </a></p>
                        </div>
                    </div>
                    <div class="sl-item sl-item-md">
                        <div class="sl-icon">
                            <i class="fa fa-check text-muted-dk"></i>
                        </div>
                        <div class="sl-content">
                            <div class="text-muted-dk">Just now</div>
                            <p>Finished task <a href class="text-info">#features 4</a>.</p>
                        </div>
                    </div>
                    <div class="sl-item sl-item-md b-info">
                        <div class="sl-icon">
                            <i class="fa fa-twitter text-info"></i>
                        </div>
                        <div class="sl-content">
                            <div class="text-muted-dk">11:30</div>
                            <p><a href>@Jessi</a> retwit your post</p>
                        </div>
                    </div>
                    <div class="sl-item b-primary b-l">
                        <div class="sl-content">
                            <div class="text-muted-dk">10:30</div>
                            <p>Call to customer <a href class="text-info">Jacob</a> and discuss the detail.</p>
                        </div>
                    </div>
                    <div class="sl-item sl-item-md b-warning">
                        <div class="sl-icon">
                            <i class="fa fa-bolt text-warning"></i>
                        </div>
                        <div class="sl-content">
                            <div class="text-muted-dk">3 days ago</div>
                            <p><a href class="text-info">Jessi</a> commented your post.</p>
                        </div>
                    </div>
                    <div class="sl-item b-info">
                        <div class="sl-content">
                            <div class="text-muted-dk">Thu, 10 Mar</div>
                            <p>Trip to the moon</p>
                        </div>
                    </div>
                    <div class="sl-item b-info">
                        <div class="sl-content">
                            <div class="text-muted-dk">Sat, 5 Mar</div>
                            <p>Prepare for presentation</p>
                        </div>
                    </div>
                    <div class="sl-item">
                        <div class="sl-content">
                            <div class="text-muted-dk">Sun, 11 Feb</div>
                            <p><a href class="text-info">Jessi</a> assign you a task <a href class="text-info">Mockup
                                Design</a>.</p>
                        </div>
                    </div>
                    <div class="sl-item">
                        <div class="sl-content">
                            <div class="text-muted-dk">Thu, 17 Jan</div>
                            <p>Follow up to close deal</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <md-button class="md-fab md-primary mdi-editor-mode-edit i-24 md-fab-bottom-right"
               aria-label="Fab Button"></md-button>
</div>