<div class="row row-sm">
    <div class="col-sm-3">
        <div class="panel panel-card">
            <div class="r-t pos-rlt" md-ink-ripple
                 style="background:url(images/a0.jpg) center center; background-size:cover">
                <div class="p-lg bg-white-overlay text-center r-t">
                    <a href class="w-xs inline">
                        <img src="images/a0.jpg" class="img-circle img-responsive">
                    </a>
                    <div class="m-b m-t-sm h2">
                        <span class="">Sumit Singh <small>(Sumi)</small></span>
                    </div>
                </div>
            </div>
            <div ng-cloak>
                <md-content>
                    <md-tabs md-dynamic-height md-border-bottom md-stretch-tabs="always">
                        <md-tab label="Intro">
                            <md-content class="md-padding">
                                <md-list flex>
                                    <md-subheader class="md-no-sticky">Personal Information</md-subheader>
                                    <md-list-item class="md-2-line">
                                        <md-icon class="mdi-social-person i-24"></md-icon>
                                        <div class="md-list-item-text" ng-class="{'md-offset': phone.options.offset }">
                                            <h3>Sumit Singh</h3>
                                            <p>Full Name</p>
                                        </div>
                                    </md-list-item>
                                    <md-list-item class="md-2-line">
                                        <md-icon class="mdi-social-cake i-24"></md-icon>
                                        <div class="md-list-item-text">
                                            <h3>25th-May-1991</h3>
                                            <p>Birthday</p>
                                        </div>
                                    </md-list-item>
                                    <md-divider></md-divider>
                                    <md-subheader class="md-no-sticky">Address</md-subheader>
                                    <md-list-item class="md-2-line">
                                        <md-icon class="mdi-maps-place i-24"></md-icon>
                                        <div class="md-list-item-text" ng-class="{'md-offset': phone.options.offset }">
                                            <h3>Nishi-Ikebukuro, 3-12-11 <br> Beverly Homes, 301 <br> Toshima-ku, Tokyo
                                                <br> Japan<br> (171-0021)</h3>
                                            <p> Home </p>
                                        </div>
                                    </md-list-item>
                                    <md-list-item class="md-2-line">
                                        <div class="md-list-item-text" ng-class="{'md-offset': true }">
                                            <h3>Nishi-Ikebukuro, 3-12-11 <br> Beverly Homes, 301 <br> Toshima-ku, Tokyo
                                                <br> Japan<br> (171-0021)</h3>
                                            <p> Office </p>
                                        </div>
                                    </md-list-item>
                                </md-list>
                            </md-content>
                        </md-tab>
                        <md-tab label="Contacts">
                            <md-content class="md-padding">
                                <md-list flex>
                                    <md-subheader class="md-no-sticky">Contact Numbers</md-subheader>
                                    <md-list-item class="md-2-line">
                                        <md-icon class="mdi-maps-local-phone i-24"></md-icon>
                                        <div class="md-list-item-text" ng-class="{'md-offset': phone.options.offset }">
                                            <h3> (555) 251-1234 </h3>
                                            <p> Home </p>
                                        </div>
                                        <md-button class="md-secondary md-icon-button"
                                                   ng-click="doSecondaryAction($event)" ng-if="phone.options.actionIcon"
                                                   aria-label="call">
                                            <md-icon class="mdi-maps-local-phone i-20"></md-icon>
                                        </md-button>
                                    </md-list-item>
                                    <md-list-item class="md-2-line">
                                        <div class="md-list-item-text" ng-class="{'md-offset': true }">
                                            <h3> (555) 251-1234 </h3>
                                            <p> Mobile </p>
                                        </div>
                                        <md-button class="md-secondary md-icon-button"
                                                   ng-click="doSecondaryAction($event)" ng-if="phone.options.actionIcon"
                                                   aria-label="call">
                                            <md-icon class="mdi-maps-local-phone i-20"></md-icon>
                                        </md-button>
                                    </md-list-item>
                                    <md-list-item class="md-2-line">
                                        <md-icon class="mdi-hardware-phone-iphone i-24"></md-icon>
                                        <div class="md-list-item-text" ng-class="{'md-offset': phone.options.offset }">
                                            <h3> (555) 251-1234 </h3>
                                            <p> office </p>
                                        </div>
                                        <md-button class="md-secondary md-icon-button"
                                                   ng-click="doSecondaryAction($event)" ng-if="phone.options.actionIcon"
                                                   aria-label="call">
                                            <md-icon class="mdi-maps-local-phone i-20"></md-icon>
                                        </md-button>
                                    </md-list-item>
                                </md-list>
                                <md-divider></md-divider>
                                <md-subheader class="md-no-sticky">Email Addresses</md-subheader>
                                <md-list flex>
                                    <md-list-item class="md-2-line">
                                        <md-icon class="mdi-communication-email i-24"></md-icon>
                                        <div class="md-list-item-text" ng-class="{'md-offset': phone.options.offset }">
                                            <h3> summmmit44@gmail.com </h3>
                                            <p> Home </p>
                                        </div>
                                        <md-button class="md-secondary md-icon-button"
                                                   ng-click="doSecondaryAction($event)" ng-if="phone.options.actionIcon"
                                                   aria-label="call">
                                            <md-icon class="mdi-maps-local-phone i-20"></md-icon>
                                        </md-button>
                                    </md-list-item>
                                    <md-list-item class="md-2-line">
                                        <div class="md-list-item-text" ng-class="{'md-offset': true }">
                                            <h3> shiivisingh@gmail.com </h3>
                                            <p>Office</p>
                                        </div>
                                        <md-button class="md-secondary md-icon-button"
                                                   ng-click="doSecondaryAction($event)" ng-if="phone.options.actionIcon"
                                                   aria-label="call">
                                            <md-icon class="mdi-maps-local-phone i-20"></md-icon>
                                        </md-button>
                                    </md-list-item>
                                </md-list>
                            </md-content>
                        </md-tab>
                    </md-tabs>
                </md-content>
            </div>
        </div>
    </div>
    <div class="col-sm-9">
        <h4>Your Activities</h4>
        <div class="panel panel-card clearfix" ng-controller="ProfileController">
            <div class="p-h-lg m-b-lg">
                <div class="streamline b-l p-v m-l-xs">
                    <div infinite-scroll="getMoreData()">
                        <div ng-repeat="(index, activity) in data">
                            <a class="pull-left w-32 m-l-n m-t-xs m-r">
                                <img src="images/a2.jpg" class="img-responsive rounded" alt="user pic">
                            </a>
                            <div class="clear">
                                <div class="m-b-xs">
                                    <a href>{{ member_info.first_name + ' ' + member_info.last_name }}</a>
                                    <span class="text-muted block text-xs">{{ activity.activity_time | fromNow }}</span>
                                </div>
                                <div class="m-b">
                                    <div>{{ activity.activity_text}}
                                        <span class="text-info">{{ activity.activity_item }}</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <a class="pull-left w-32 m-l-n m-t-xs m-r">
                            <img src="images/a3.jpg" class="img-responsive rounded" alt="...">
                        </a>
                        <div class="clear">
                            <div class="m-b-xs">
                                <a href>Oscar</a> upload a file
                                <span class="text-muted block text-xs">3 minutes ago</span>
                            </div>
                            <div class="m-b">
                                <div class="w-xl w-auto-xs">
                                    <div class="box bg-light">
                                        <div class="box-col w-xs text-center dk p-md v-m">
                                            <i class="fa fa-file-text-o text-3x text-muted-lt"></i>
                                        </div>
                                        <div class="box-col p">
                                            <a href>Geuismod tincidunt</a>
                                            <div>Diam nonummy nibh euismod tincidunt ut laoreet.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="m-t-sm">
                                    <a href class="text-muted m-xs">Like</a>
                                    <a href class="text-muted m-xs">Comment</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <a class="pull-left w-32 m-l-n m-t-xs m-r">
                            <img src="images/a4.jpg" class="img-responsive rounded" alt="...">
                        </a>
                        <div class="clear">
                            <div class="m-b-xs">
                                <a href>Anny</a> post a photo
                <span class="text-muted block text-xs">
                  6 minutes ago
                </span>
                            </div>
                            <div class="m-b">
                                <div><img src="images/a10.jpg" class="b p-xs"></div>
                                <div class="m-t-sm">
                                    <a href class="text-muted m-xs">Like</a>
                                    <a href class="text-muted m-xs">Comment</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <a class="pull-left w-32 m-l-n m-t-xs m-r">
                            <img src="images/a5.jpg" class="img-responsive rounded" alt="...">
                        </a>
                        <div class="clear">
                            <div class="m-b-xs">
                                <a href>Michel</a> post a comment
                <span class="text-muted block text-xs">
                  10 minutes ago
                </span>
                            </div>
                            <div class="m-b bg-light">
                                <div class="p-sm b-b b-white">
                                    <img src="images/a4.jpg" class="rounded w-20 pull-left m-r-sm" alt="...">
                                    <a href>Tony</a> liked it
                                </div>
                                <div class="p-sm">
                                    <img src="images/a6.jpg" class="rounded w-20 pull-left m-r-sm" alt="...">
                                    <a href>Anney</a> Commented it
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <md-button class="md-fab md-primary mdi-editor-mode-edit i-24 md-fab-bottom-right"
               aria-label="Fab Button"></md-button>
</div>