<!------- Account Settings------------------------------------------------------------>
<div class="p-md bg-light lt b-b font-bold">Account Settings</div>
<div ng-controller="AccountSettingsController" layout="column" ng-cloak class="md-inline-form">
    <md-content layout-full>
        <div>
            <md-list ng-cloak>
                <md-subheader class="md-no-sticky">Primary Email</md-subheader>
                <md-list-item class="secondary-button-padding">
                    <p>{{ user.primary_email }}</p>
                    <md-button class="md-secondary md-raised" ng-click="setNewPrimaryEmail(e)">Change</md-button>
                </md-list-item>
                <md-divider></md-divider>
                <md-subheader class="md-no-sticky">Account Password</md-subheader>
                <md-list-item class="secondary-button-padding">
                    <p>Password</p>
                    <md-button class="md-secondary md-raised" ng-click="setNewPassword(e)">Change</md-button>
                </md-list-item>
                <md-divider></md-divider>
                <md-subheader class="md-no-sticky">Social Networking</md-subheader>
                <md-list-item class="secondary-button-padding">
                    <p>Google</p>
                    <md-button class="md-secondary md-raised">Link</md-button>
                </md-list-item>
                <md-list-item class="secondary-button-padding">
                    <p>Facebook</p>
                    <md-button class="md-secondary md-raised">Link</md-button>
                </md-list-item>
                <md-divider></md-divider>
                <md-subheader class="md-no-sticky">Delete</md-subheader>
                <md-list-item class="secondary-button-padding">
                    <p>Delete Account</p>
                    <md-button class="md-secondary md-raised" ng-click="showConfirmDelete(e)">Delete</md-button>
                </md-list-item>
            </md-list>
        </div>
    </md-content>
</div>